.cuerpo{


}
.image{
  float: left;
  width: 420px;
  padding-left: 150px;
  padding-top: 50px;

}
.image:hover {
    filter: opacity(.5);
}

.desc{
    position: relative;
   font-size: 20px;
    bottom: 230px;
}

.descriptionpage{
    background-color:wheat;
    opacity: 0.9; font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;"
}

.header{
    background-color: black;
    margin: 0;
    border: 0;
    padding: 15px;
    font-size: 25px;
}
