.titulo{
    text-align:center;
    font-size: 40px;

}
.container{
    position: relative;
    left: 400px;


}
.cuerpo{


}
.image{
    position: relative;
    border: 1px solid;
    height: auto;

}
.image:hover {
    filter: opacity(.5);
}
.texto{
    position: relative;
    top: 190px;
    font-size: 20px;
    left: 220px;

}

.desc{
    position: relative;
   font-size: 20px;
    bottom: 230px;
}
